@import '../../styles/app-style.scss';

#search {
  .nav.nav-tabs {
    height: $app-header-height;
    padding-left: $app-header-height;
    border: none;
  }
  .nav-item.nav-link {
    border: none;
    border-radius: 0;
    outline: none;
    color: $app-text-color;
    &.active {
      color: $app-text-color-active;
      background-color: $app-bg-selected;
    }
  }
  .tab-content {
    background-color: $app-bg-selected;
    min-height: 25vh;
    padding: 20px 40px;
  }
}
